* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #FF74B1, #A7FFE4);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    background: rgba(255, 255, 255, .2);
    width: 468px;
    border: 2px solid #FFA1CF;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.screen {
    width: 100%;
    height: 100px;
    padding: 0 15px;
    margin: 10px 0;
    direction: rtl;
    overflow: hidden;
}

.down {
    font-size: 35px;
    font-weight: bold;
    height: 100%;
    transition: 0.5;
    outline: none;
    border: none;
    background: transparent;
    -webkit-transition: 0.5;
    -moz-transition: 0.5;
    -ms-transition: 0.5;
    -o-transition: 0.5;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
}

.numbers button {
    width: 100px;
    padding: 10px;
    margin: 8px;
    font-size: 35px;
    font-weight: bold;
    color: #A7FFE4;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFA1CF;
    border-radius: 20px;
    border: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.numbers button:hover {
    color: white;
}

.numbers .big {
    width: 100%;
    order: 5;
}